.idea
.env.local
.next
node_modules

# testing
coverage

# wiki data cache
importstuff/wiki-cache/*

# generated assets
public/assets/items.json
public/assets/npcs.json
public/assets/item_images/*.png
